#############################################
# Ignore EVERYTHING by default
#############################################
*

# Allow directories (so Git can see into folders)
!*/

#############################################
# Whitelist only file types you WANT tracked
#############################################

# Track R code
!*.R
!*.Rmd

# Track documentation
!README.md
!LICENSE
!*.md

#############################################
# Keep all your existing ignore rules
#############################################

# macOS junk
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# RStudio project files
*.Rhistory
*.RData
*.Rproj
.Rproj.user/

#############################################
# GIS data + large files to ignore
#############################################

# TIFFs / rasters
*.tif
*.tiff
*.aux
*.aux.xml
*.rrd
*.tfw
*.ovr
*.ige
*.img

# Shapefile components
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.cpg
*.xml

# Vector data formats
*.gpkg
*.geojson
*.lpk

# LiDAR formats
*.laz
*.las

# R data files
*.rds

# Intermediate / temp files
*.log
*.tmp
*.bak
*.lock

# ArcMap folder
arcmap/

# Data folder should always stay ignored
data/

#############################################
# END
#############################################
